/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    background: black !important;
    background-position: 50%;
    background-size: cover;
}

.nes-container {
    padding: 1rem 1rem 0.5rem;
    border-width: 0px !important;
    border-radius: 6px;
    border-color: #e5e5e5;
    min-height: 200px;
    background-color: rgba(30,17,10);
}

@media screen and (min-width: 500px) {
    .nes-container {
        min-width: 460px !important;
    }
}

@media screen and (min-width: 549px) {
    .nes-container {
        min-width: 480px !important;
    }
}

.nes-container.with-title>.title {
    background-color: transparent !important;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 2rem;
}

.card-container {
    padding-top: 0.5rem;
}

.ant-select-selection-item {
    align-items: center;
}

.ant-select-selection-item-remove {
    display: flex !important;
}

p {
    margin-bottom: 0 !important;
}

.ant-select {
    margin-bottom: 20px !important;
    background: rgb(30,17,10) !important;
    border: 2px solid #6e6e6e !important;
    border-radius: 7px !important;
    color: #fff !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: rgb(25,12,5) !important;
    border: 2px solid #6e6e6e !important;
    border-radius: 7px !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: rgb(25,12,5) !important;
}

.ant-select-dropdown {
    background: rgb(25,12,5) !important;
}

.ant-select-multiple .ant-select-selection-item {
    background: rgb(25,12,5) !important;
}

html {
    cursor: default !important;
}

.ant-btn-primary {
    background-color:rgb(205,172,106) !important;
    color: black !important; 
    border-color: transparent !important;
    border-radius: 6px !important;
    font-weight: bold !important;
}

.ant-btn-primary * {
    color: black !important; 
}

.ant-btn-primary:hover{
    background:rgb(155,122,56) !important;
}

.ant-btn-primary[disabled] {
    background: #f5f5f5 !important;
}

.ant-btn-primary[disabled] span {
    color: #AAA !important; 
}

.swv-modal-title {
    color: white;
}

* {
    color: rgb(204,178,116);
}

.manager-view * {
    color: #959595 !important;
}

.ant-message-notice-content {
    background-color: #3d3d3d !important;
}

.ant-message .anticon {
    top: -3px !important;
}

.ant-spin-blur {
    padding: 30px 0 !important;
}

.anticon.anticon-twitter svg path {
    color: white !important;
}

.swv-button-trigger {
    background-color:rgb(205,172,106) !important;
    color: black !important;
}

.swv-button-trigger p {
    color: black !important;
}